@media (min-resolution: 400dpi), (max-width: 600px) {
  /* move version selection in a new line */
  #models-autocomplete {
    flex-direction: column;
  }

  #versions {
    margin-top: 0.5em;
  }

  .autocomplete > input {
    margin-right: 0px !important;
  }

  .row {
    padding-left: 0.2em !important;
  }

  #downloads1 {
    display: none !important;
  }

  #downloads2 {
    display: block !important;
  }
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

#models-autocomplete {
  display: flex;
  padding-top: 20px;
}

.autocomplete {
  position: relative;
}

.autocomplete > input {
  border: 0.06em solid transparent;
  background-color: #f1f1f1;
  padding: 0.8em;
  flex-grow: 1;
  margin-right: 5px;
  border-radius: 0.2em;
  font-size: inherit;
}

.autocomplete-items {
  position: absolute;
  border: 0.1em solid #d4d4d4;
  border-bottom: none;
  font-size: inherit;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 0.8em;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 0.1em solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

header {
  font-weight: 500;
  width: 100%;
  z-index: 1100;
  box-shadow: 0em 0.125em 0.25em -0.06em rgba(0, 0, 0, 0.2),
    0em 0.25em 0.3em 0em rgba(0, 0, 0, 0.14),
    0em 0.06em 0.625em 0em rgba(0, 0, 0, 0.12);
  background-color: #00a3e1;
}

h6 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

header > div {
  padding-left: 1.5em;
  padding-right: 1.5em;
  min-height: 4em;

  display: flex;
  position: relative;
  align-items: center;
  color: #fff;
}

.container {
  padding-left: 1.2em;
  padding-right: 1.2em;
  max-width: 70em;
  box-sizing: border-box;
  margin-top: 1.2em;
  margin-right: auto;
  margin-left: auto;
}

.container > div {
  padding: 0.625em 20px;
  text-align: left;
  box-shadow: 0em 0.06em 0.19em 0em rgba(0, 0, 0, 0.2),
    0em 0.06em 0.06em 0em rgba(0, 0, 0, 0.14),
    0em 0.125em 0.06em -0.06em rgba(0, 0, 0, 0.12);
  border-radius: 0.25em;
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
}

#versions {
  border: 0.06em solid transparent;
  background-color: #f1f1f1;
  padding: 0.8em;
  min-width: 4em;
  border-radius: 0.25em;
  font-size: inherit;
}

#languages {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:%23FFFFFF;' width='2em' height='20' viewBox='0 0 1792 1792'%3E%3Cpath d='M1395 736q0 13-10 23l-466 466q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l393 393 393-393q10-10 23-10t23 10l50 50q10 10 10 23z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: bottom 0.4em right 0.5em;

  color: #fff;
  font-size: inherit;
  background-color: #1084b2;
  border-radius: 0.25em;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  font-family: "Open Sans", sans-serif;
  padding: 6px 3em 6px 16px;
  width: 8em;

  outline: none;
  border: none;
  /* hide defaul arrow */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

#download-table1 td {
  padding: 1.5em;
}

#download-extras2 {
  padding-top: 1em;
}

#download-links2 td {
  display: inline;
}

#download-table1 {
  border-collapse: collapse;
}

#download-table1 tr {
  border: solid;
  border-color: lightgrey;
  border-width: 1px 0;
}

#download-table1 tr:first-child {
  border-top: none;
}

#download-table1 tr:last-child {
  border-bottom: none;
}

.help-content {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  vertical-align: middle;
  word-wrap: anywhere;
}

.hash-content {
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  padding-top: 0.4em;
  word-wrap: anywhere;
}

.download-link {
  text-decoration: none;
  border-radius: 0.2em;
  padding: 0.8em;
  margin: 0.2em;
  font-size: inherit;
  cursor: pointer;
  letter-spacing: 0.05em;
  display: inline-flex;
  align-items: center;
  box-shadow: 0em 0.06em 0.3em 0em rgba(0, 0, 0, 0.2),
    0em 0.125em 0.125em 0em rgba(0, 0, 0, 0.14),
    0em 0.19em 0.06em -0.125em rgba(0, 0, 0, 0.12);
  color: #fff;
  background-color: #00a3e1;
  width: max-content;
}

.download-link :first-child {
  width: 30px;
  margin-right: 15px;
  margin-top: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM17 13l-5 5-5-5h3V9h4v4h3z' fill='%23fff'%3E%3C/path%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
}

.download-link:hover,
.download-link-hover {
  background-color: #038fc6;
}

#image-info {
  width: 1em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -256 1850 1850' width='100%25' height='100%25'%3E%3Cg transform='matrix(1,0,0,-1,30.372881,1426.9492)'%3E%3Cpath d='M 1408,608 V 288 Q 1408,169 1323.5,84.5 1239,0 1120,0 H 288 Q 169,0 84.5,84.5 0,169 0,288 v 832 Q 0,1239 84.5,1323.5 169,1408 288,1408 h 704 q 14,0 23,-9 9,-9 9,-23 v -64 q 0,-14 -9,-23 -9,-9 -23,-9 H 288 q -66,0 -113,-47 -47,-47 -47,-113 V 288 q 0,-66 47,-113 47,-47 113,-47 h 832 q 66,0 113,47 47,47 47,113 v 320 q 0,14 9,23 9,9 23,9 h 64 q 14,0 23,-9 9,-9 9,-23 z m 384,864 V 960 q 0,-26 -19,-45 -19,-19 -45,-19 -26,0 -45,19 L 1507,1091 855,439 q -10,-10 -23,-10 -13,0 -23,10 L 695,553 q -10,10 -10,23 0,13 10,23 l 652,652 -176,176 q -19,19 -19,45 0,26 19,45 19,19 45,19 h 512 q 26,0 45,-19 19,-19 19,-45 z' /%3E%3C/g%3E%3C/svg%3E%0A");
}

.row {
  display: flex;
  line-height: 1.5;
  padding-left: 1.5em;
  overflow: hidden;
}

.col1 {
  display: inline-block;
  width: 6em;
}

.col2 {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

#image-model {
  font-weight: bold;
}

.hide {
  display: none;
}

.download-help {
  margin-top: 0.5em;
}

#help {
  margin: 20px 0;
}

#footer {
  font-size: 0.8em;
  text-align: right;
  margin-top: 1em;
}

#footer a {
  text-decoration: none;
}

#notfound h3 {
  text-align: center;
}
